@font-face {
  font-family: 'BoardofDirectorsWOO-Hvlt';
  src: url('/public/fonts/Board-of-Directors-W00-Heavy-It.ttf') format('truetype');
}

.settings-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #111217;
  position: relative;
  overflow: hidden;
}

.settings-container {
  margin-top: 20%;
  text-align: center;
  padding: 20px;
  background-color: #181b1f;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 90vw;
  max-width: 400px;
  box-sizing: border-box;
  z-index: 5;
}

.open-config-button, .delete-config-button, .close-button {
  font-family: 'BoardofDirectorsWOO-Hvlt', Arial, sans-serif;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border: none;
  font-size: 16px;
}

.open-config-button:hover, .delete-config-button:hover, .close-button:hover {
  background-color: #c0392b;
}

.settings-page h1 {
  color: #e74c3c;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.settings-page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-page .form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.settings-page input[type="file"] {
  padding: 0;
  font-size: 14px;
}

.settings-page input[type="file"] {
    display: none; 
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 16px; 
}

.custom-file-upload:hover {
    background-color: #c0392b;
}

/* Modal styles */
.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Adjusted for less harsh black */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #181b1f;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto; 
  position: relative;
}

.modal-content {
  background: #181b1f;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.modal-content pre {
  background-color: #3b3b3b;
  padding: 10px;
  border-radius: 5px;
  color: #ecf0f1;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 45vh; 
  overflow-y: auto; 
}

.close-button {
  background-color: #e74c3c; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #c0392b;
}
